---
import dayjs from "dayjs";
import HamburgerMenu from "../components/HamburgerMenu.vue";
import Main from "./main.astro";

const { title, author, date } = Astro.props.content;
const { headings } = Astro.props;
const formattedDate = dayjs(date, "YYYY-MM-DD HH:MM:SS").format('D MMMM YYYY')
---

<Main>
    <HamburgerMenu element="blog-aside" toggleClass="open" client:only />
    <aside id='blog-aside'>
        {headings.map(header => {
            return (<a href={'#' + header.slug} class={'depth-' + header.depth}>{header.text}</a>)
        })}
    </aside>
    <div id="container">
        <main>
            <h1 id="title">{title}</h1>
            <p id="author">Posted {formattedDate} by {author}</p>
            <slot />
        </main>
    </div>
</Main>

<style lang="scss">
    @import '../styles/layout.scss';
    
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        position: fixed;
        top: $header-height;
        bottom: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;

        width: $sidebar-width;
        padding-left: 2rem;

        border-right: solid 1px rgb(226, 236, 236);

        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;

        transform: translate(-100%);
        transition: opacity .5s, transform .25s ease;

        &.open {
            padding-top: 4rem;
            visibility: visible;
            opacity: 1;
            transform: translate(0);
            z-index: 1;
            background-color: var(---bg-color);
        }

        @media (min-width: 960px) {
            visibility: visible;
            opacity: 1;
            transform: translate(0);
        }

        @media (min-width: 1280px) {
            padding-left: max(2rem, calc(50vw - $sidebar-width - 100px - 500px));
            width: max($sidebar-width, calc(50vw - 100px - 500px));
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &:hover::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgb(226, 236, 236);
        }

        > a {
            padding: 3px 0;
        }

        .depth-1, .depth-2 {
            border-top: solid 1px rgb(226, 236, 236);
            margin-top: 10px;
            padding-top: 10px;
            font-weight: bold;

            &:first-of-type {
                border-top: 0;
            }
        }

        .depth-4 {
            text-indent: 1rem;
        }
    }

    main {
        margin-left: 0;
        padding: 50px 100px;

        @media (max-width: 500px) {
            padding: 50px 25px;
        }

        @media (min-width: 960px) {
            margin-left: $sidebar-width;
        }

        @media (min-width: 1280px) {
            max-width: 1000px;
        }

        #title, #author {
            text-align:center;
        }

        #author {
            font-size: small;
        }

        :global(h1),
        :global(p),
        :global(ul),
        :global(ol) {
            margin-bottom: 1.5rem;
        }

        :global(img) {
            height: auto;
            max-width: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        :global(pre) {
            padding: 1rem;
            max-width: 680px;
            margin-bottom: 1rem;
        }

        :global(h2),
        :global(h3),
        :global(h4),
        :global(h5),
        :global(h6) {
            margin-bottom: 1.5rem;
            scroll-margin-top: 135px;
            position: relative;

            > :global(a[aria-hidden=true]) {
                visibility: hidden;
                padding-right: 20px;
                color: green
            }

            &:hover {                
                > :global(a[aria-hidden=true]) {
                    visibility: visible;
                }
            }
        }
    }
</style>
