---
import HamburgerMenu from "../components/HamburgerMenu.vue";
import { getDocsNav } from "../doc-structure";
import Main from "./main.astro";

const currentUrl = Astro.url.pathname;
const currentUrlRoot = currentUrl.split("/")[1];

const docs = getDocsNav(currentUrlRoot, currentUrl);
let { headings } = Astro.props;
if (headings === undefined) headings = Astro.props.content.astro.headings;
---

<Main>
    <HamburgerMenu element="docs-nav" toggleClass="open" client:only="vue" />
    <nav id="docs-nav">
        {
            docs.map((doc) => {
                if (doc.depth === 1) {
                    return <span class={"depth-" + doc.depth + (doc.active ? " active" : "")}>{doc.title}</span>;
                }
                return (
                    <a href={doc.path} class={"depth-" + doc.depth + (doc.active ? " active" : "")}>
                        {doc.title}
                    </a>
                );
            })
        }
    </nav>
    <div id="container">
        <main style={headings.length <= 1 ? "border-right:none" : ""}>
            <slot />
        </main>
    </div>
    <aside id="doc-headers" style={headings.length <= 1 ? "display:none" : ""}>
        {
            headings.map((header) => {
                return (
                    <a href={"#" + header.slug} class={"depth-" + header.depth}>
                        {header.text.startsWith("#") ? header.text.slice(1) : header.text}
                    </a>
                );
            })
        }
    </aside>
</Main>

<style lang="scss">
    @import "../styles/layout.scss";

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #docs-nav {
        position: fixed;
        top: $header-height;
        bottom: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;

        width: $sidebar-width;
        padding-left: 2rem;
        padding-bottom: 2rem;

        border-right: solid 1px rgb(226, 236, 236);

        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;

        transform: translate(-100%);
        transition:
            opacity 0.5s,
            transform 0.25s ease;

        &.open {
            padding-top: 4rem;
            visibility: visible;
            opacity: 1;
            transform: translate(0);
            z-index: 1;
            background-color: var(---bg-color);
        }

        @media (min-width: 960px) {
            visibility: visible;
            opacity: 1;
            transform: translate(0);
        }

        @media (min-width: 1280px) {
            padding-left: max(2rem, calc(50vw - $sidebar-width - 100px - 500px));
            width: max($sidebar-width, calc(50vw - 100px - 500px));
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &:hover::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgb(226, 236, 236);
        }

        > a {
            padding: 3px 0;
        }

        .active {
            color: green;

            &::before {
                content: "⬤";
                position: relative;
                font-size: small;
                vertical-align: 10%;
                margin-right: 5px;
            }
        }

        .depth-1 {
            border-top: solid 1px rgb(226, 236, 236);
            margin-top: 10px;
            padding-top: 10px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            &:first-of-type {
                border-top: 0;
            }
        }
    }

    #doc-headers {
        width: 300px;
        position: fixed;
        top: $header-height;
        bottom: 0;
        right: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;

        width: $sidebar-width;
        padding-left: 2rem;

        border-right: solid 1px rgb(226, 236, 236);

        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;

        transform: translate(-100%);
        transition:
            opacity 0.5s,
            transform 0.25s ease;

        @media (min-width: 1400px) {
            visibility: visible;
            opacity: 1;
            transform: translate(0);
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &:hover::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgb(226, 236, 236);
        }

        > a {
            padding: 3px 0;
        }

        .depth-1,
        .depth-2 {
            border-top: solid 1px rgb(226, 236, 236);
            margin-top: 10px;
            padding-top: 10px;

            &:first-of-type {
                border-top: 0;
            }
        }

        .depth-2 {
            text-indent: 1rem;
        }

        .depth-3 {
            text-indent: 30px;
        }

        .depth-4,
        .depth-5,
        .depth-6 {
            display: none;
            text-indent: 45px;
            font-size: smaller;
        }
    }

    main {
        margin-left: 0;
        padding: 50px 100px;

        margin-top: 3rem;

        @media (max-width: 500px) {
            padding: 50px 25px;
        }

        @media (min-width: 960px) {
            margin-left: $sidebar-width;
            margin-top: 0;
        }

        @media (min-width: 1280px) {
            max-width: 1000px;
        }

        @media (min-width: 1400px) {
            margin-right: calc($sidebar-width * 0.8);
        }

        :global(a) {
            color: green;
            font-weight: bold;
        }

        :global(code) {
            color: #b32585;
            background-color: rgba(212, 53, 159, 0.03);
        }

        :global(th),
        :global(td) {
            text-align: left;
            padding: 0.8rem 1rem;
            border-bottom: 1px solid rgb(226, 236, 236);
        }

        :global(pre) {
            padding: 1rem;
            max-width: 680px;
            margin-bottom: 1rem;
        }

        #title,
        #author {
            text-align: center;
        }

        #author {
            font-size: small;
        }

        :global(h2) {
            border-top: solid 1px rgb(226, 236, 236);
            padding-top: 1.5rem;
            margin-top: 3rem;
        }

        :global(h3),
        :global(h4) {
            margin-top: 3rem;
        }

        :global(p),
        :global(ol),
        :global(ul) {
            margin-bottom: 1.5rem;
        }

        :global(img) {
            height: auto;
            max-width: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        :global(svg) {
            vertical-align: text-bottom;
        }

        :global(h1),
        :global(h2),
        :global(h3),
        :global(h4),
        :global(h5),
        :global(h6) {
            margin-bottom: 1.5rem;
            scroll-margin-top: 135px;
            position: relative;

            @media (min-width: 960px) {
                left: -35px;
            }

            > :global(a[aria-hidden="true"]) {
                padding-right: 20px;
                color: green;

                @media (min-width: 960px) {
                    visibility: hidden;
                }
            }

            &:hover {
                > :global(a[aria-hidden="true"]) {
                    visibility: visible;
                }
            }
        }

        :global(#subsection) {
            border-left: 3px solid red;
            padding-left: 1rem;
        }
    }
</style>
