---
import Github from "~icons/fa-brands/github";
import Twitter from "~icons/fa-brands/twitter";
import NavItem from "../components/NavItem.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.vue";
---

<header>
    <nav>
        <a href="/"><img id="logo" src="/logos/pa-logo-small.svg" style="max-width: 50px" data-no-zoom /></a>
        <a id="logo-text" href="/">PlanarAlly</a>
        <NavItem to="/docs/">Docs</NavItem>
        <NavItem to="/learn/">Learn</NavItem>
        <NavItem to="/server/">Server</NavItem>
        <NavItem to="/blog/">Blog</NavItem>
        <div style="flex-grow: 1"></div>
    </nav>

    <div>
        <!-- search -->
        <ThemeSwitcher client:only="vue" />
        <a
            aria-label="Twitter"
            href="//twitter.com/Kruptein"
            rel="noopener noreferrer"
            target="_blank"
            title="Follow me on Twitter"
        >
            <Twitter />
        </a>

        <a
            aria-label="github"
            href="//github.com/Kruptein/planarally"
            rel="noopener noreferrer"
            target="_blank"
            title="PlanarAlly @ GitHub"
        >
            <Github />
        </a>
    </div>
</header>

<style lang="scss">
    @import "../styles/layout.scss";

    header {
        position: sticky;
        top: 0;
        z-index: 20;

        height: $header-height;

        padding-left: $sidebar-width;
        padding-right: 150px;

        border-bottom: solid 1px rgb(226, 236, 236);

        background-color: var(---bg-header);

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 960px) {
            padding-left: 150px;
        }

        @media (max-width: 500px) {
            padding: 0;
        }

        > nav {
            display: flex;
            align-items: center;

            > :global(*) {
                margin: 8px;
            }
        }

        > div {
            width: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media (max-width: 1024px) {
                width: unset;
                justify-content: flex-end;
                padding-top: 1rem;
                padding-right: 1rem;

                > * {
                    margin-left: 5px;
                }
            }
        }

        #logo {
            height: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px;
            max-width: 50px;
            background: #f1e7d0e1;
            border-radius: 25%;
        }

        #logo-text {
            @media (max-width: 500px) {
                display: none;
            }
        }
    }
</style>
