---
import "../styles/global.scss";
import Header from "./header.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="color-scheme" content="dark light" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>PlanarAlly Documentation</title>
        <script defer data-domain="planarally.io" src="https://plausible.io/js/script.js"></script>
    </head>

    <body>
        <script is:inline>
            const currentTheme = localStorage.getItem("theme");
            if (currentTheme === "dark") {
                document.body.classList.toggle("dark-theme");
            } else if (currentTheme === "light") {
                document.body.classList.toggle("light-theme");
            }
        </script>
        <Header />
        <slot />
    </body>
</html>
